.blog-content {
  max-width: 900px;

  .highlight {
    pre {
      padding: 16px;
      border-radius: 8px;
    }
  }
}

.blog-content .footnotes {
    color: rgba(0, 0, 0, 0.61);
    font-size: 75%;
}